

 /* ------------------------- Logo -------------------------------------------------- */
.logo {
    color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	line-height: 0px;
	font-size: 20px;
	position: fixed;
    left: 30px;
    top: 42px;
    mix-blend-mode: difference;
    z-index: 20
}

.btn-hover:hover {
	opacity: .6;
}

 /* ------------------------- Language -------------------------------------------------- */

.language {
	position: fixed;
	right: 60px;
	top: 12px;
	padding: 19px;
	z-index: 20;
	mix-blend-mode: difference;
	height: 60px;
}

.language .lang{
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin: 0 3px;
	float: left;
	text-transform: uppercase;
	opacity: .5;
	font-family: 'Montserrat', sans-serif;
	
}

.language .active {
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
}

.language .lang:hover {
	opacity: 1;
}


 /* ------------------------- Progress balkje -------------------------------------------------- */

.progressContainer {
	position: fixed;
	top: 50%;
	right: 40px;
	z-index: 5;
	height: 100px;
	width: 2px;
	background: rgba(152, 152, 158, 0.3);
	overflow: hidden;
	transform: translate(0, -50%);
	
}

.progressFill {
	width: 2px;
	background: #614DFF;
	height: 0%;
}

@media screen and (max-width: 760px){
	.progressContainer {
		right: 15px;	
	}
}

/* ------------------------- Socials -------------------------------------------------- */

.socials {
	width: 40px;
	position: fixed;
	top: 50%;
	
	transform: translate(0, -50%);
	left: 20px;
	border-radius: 20px;
	mix-blend-mode: difference;
	z-index: 20;
}


.social-btn {
	width: 40px;
	height: 40px;
	float: left;
}

@media screen and (max-width: 760px){
	.socials {
		opacity: 0;
		visibility: hidden;
	}

	body.active .socials {
		opacity: 1;
		visibility: visible;
	}
}

/* ------------------------- Contact (right bottom) -------------------------------------------------- */

.contact-btn {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 15px;
	right: 5px;
	mix-blend-mode: difference;
	z-index: 20;
	border-radius: 25px;
}

/* ------------------------- Navigation -------------------------------------------------- */

#menu {
	position: fixed;
	height: 0;
	top: 0;
	width: 100%;
	z-index: 8;
	background: rgb(24, 26, 31) url("../img/line-nav.svg") center center no-repeat;
	background-size: contain;
	overflow: hidden;
}

#menu .wrap {
	height: 100%;
	position: relative;
	max-width: 1100px;
	padding-left: 120px;
	padding-right: 120px;
}

#menu.active {
	height: 100vh;
	background: rgb(24, 26, 31) url("../img/line-nav.svg") center center no-repeat;
	background-size: contain;
}

#menu .navigation {
	top: 50%;
	transform: translate(0%, -50%);
	position: absolute;
	width: calc(100% - 240px);
}

@media screen and (max-width: 760px){
	#menu.active {
		background: rgb(24, 26, 31) url("../img/line-nav.svg") center center no-repeat;
		background-size: cover;
	}
	#menu .wrap {
		padding-left: 80px;
		padding-right: 80px;
	}

	#menu .navigation {
		width: calc(100% - 160px);
	}
}

@media screen and (max-width: 440px){
	#menu .navigation {
		top: 45%;
		transform: translate(0%, -50%);
	}
}


/* ------------------------- Nav contact -------------------------------------------------- */

#menu .nav-contact {
	width: 50%;
	float: left;
	height: 100%;
	animation: transpAnimation .3s;
	-moz-animation: transpAnimation .3s; /* Firefox */
	-webkit-animation: transpAnimation .3s; /* Safari and Chrome */
	 -o-animation: transpAnimation .3s; /* Opera */
	opacity: 0;
}

#menu.active .nav-contact {
	animation: navContact 1.5s;
	-moz-animation: navContact 1.5s; /* Firefox */
	-webkit-animation: navContact 1.5s; /* Safari and Chrome */
	 -o-animation: navContact 1.5s; /* Opera */
	opacity: 1;
}

@keyframes navContact {0% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes navContact {0% {opacity: 0;}  100% {opacity: 1;}}
@-webkit-keyframes navContact {0% {opacity: 0;}  100% {opacity: 1;}}
@-o-keyframes navContact {0% {opacity: 0;}  100% {opacity: 1;}}

@keyframes transpAnimation {0% {opacity: 1;} 100% {opacity: 0;}}
@-moz-keyframes transpAnimation {0% {opacity: 1;} 100% {opacity: 0;}}
@-webkit-keyframes transpAnimation {0% {opacity: 1;} 100% {opacity: 0;}}
@-o-keyframes transpAnimation {0% {opacity: 1;} 100% {opacity: 0;}}


#menu .nav-contact .profile-picture {
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 50px;
	background: url("../img/portrait.jpg") center center;
	background-size: cover;
	margin-top: 25px;
}

#menu .nav-contact p, #menu .nav-contact a {
	float: left;
	color: #fff;
	width: 100%;
	opacity: 1;
	line-height: 30px;
	margin: 0;
	font-size: 15px;
}

#menu .nav-contact a:hover {
	text-decoration: underline;
	opacity: .8;
}

#menu .nav-contact h3 {
	float: left;
	color: #614DFF;
	width: 100%;
	margin: 40px 0 0 0;
}

#menu .nav-contact .credits {
	position: absolute;
	bottom: 20px;
	opacity: .5;
}

@media screen and (max-width: 1260px){

	#menu .nav-contact h3 {
		margin: 20px 0 0 0;
	}
}

@media screen and (max-width: 760px){
	#menu .nav-contact {
		display: none;
	}
}



/* ------------------------- Nav ul -------------------------------------------------- */

#menu ul {
	width: 50%;
	float: left;
	animation: transpAnimation .3s;
	-moz-animation: transpAnimation .3s; /* Firefox */
	-webkit-animation: transpAnimation .3s; /* Safari and Chrome */
	 -o-animation: transpAnimation .3s; /* Opera */
	opacity: 0;
}

#menu.active ul {
	animation: navContact 1.5s;
	-moz-animation: navContact 1.5s; /* Firefox */
	-webkit-animation: navContact 1.5s; /* Safari and Chrome */
	 -o-animation: navContact 1.5s; /* Opera */
	opacity: 1;
}


#menu li{
	list-style: none;
	width: 100%;
	float: left;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
}

#menu li a{
	color: #fff;
	line-height: 60px;
	font-size: 42px;
	padding: 12px 0;
	display: block;
}


#menu li a:hover {
	color: rgba(255, 255, 255, 0.5);
}

#menu li.active a, #menu li.active a:hover {
	color: #614dff;
}

@media screen and (max-width: 1260px){

	#menu li a{
		line-height: 50px;
		font-size: 32px;
	}
}

@media screen and (max-width: 760px){
	#menu ul {
		width: 100%;
	}
	#menu li a{
		line-height: 40px;
		font-size: 28px;
	}
}

/* ------------------------- Nav icon -------------------------------------------------- */

.nav-icon {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	z-index: 10;
	mix-blend-mode: difference;
}

.hamburger-bar {
	z-index: 20;
	width: 22px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff00;
	
}

.hamburger-bar:before,
.hamburger-bar:after
{
	content: '';
	position: absolute;
	width: 22px;
	height: 2px;
	background: #fff;
}

.hamburger-bar:before {
	transform: rotate(0deg) translate(0px,-4px);
}

.hamburger-bar:after {
	transform: rotate(0deg) translate(0px,4px);
}

.nav-icon.white .hamburger-bar:before,
.nav-icon.white .hamburger-bar:after
{
	background: #fff;
}

.nav-icon.active .hamburger-bar:before {
	transform: rotate(-45deg) translate(0px,0px);
}

.nav-icon.active .hamburger-bar:after {
	transform: rotate(45deg) translate(0px,0px);
}

.nav-icon.active:hover .hamburger-bar.hamburger-bar:before {
	transform: rotate(0deg) translate(0px,0px);
}

.nav-icon.active:hover .hamburger-bar.hamburger-bar:after {
	transform: rotate(0deg) translate(0px,0px);
}

.nav-icon:hover .hamburger-bar.hamburger-bar:before {
	transform: rotate(0deg) translate(-4px, -4px);
}

.nav-icon:hover .hamburger-bar.hamburger-bar:after {
	transform: rotate(0deg) translate(4px, 4px);
}

@media screen and (max-width: 1080px){
	.nav-icon.active:hover .hamburger-bar.hamburger-bar:before {
		transform: rotate(-45deg) translate(0px,0px);
	}
	
	.nav-icon.active:hover .hamburger-bar.hamburger-bar:after {
		transform: rotate(45deg) translate(0px,0px);
	}
	
	.nav-icon:hover .hamburger-bar.hamburger-bar:before {
		transform: rotate(0deg) translate(0px, -4px);
	}
	
	.nav-icon:hover .hamburger-bar.hamburger-bar:after {
		transform: rotate(0deg) translate(0px, 4px);
	}	
}

.nav-icon, .hamburger-bar, .hamburger-bar:before, .hamburger-bar:after, a, span, .number{
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
  	-ms-transition: all .25s ease-in-out;
  	-o-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
 }

#menu, .navigation, .overlayclick.loaded, .socials  {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;  
}

