html {
  font-size: 65.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
  color: #333333;
  background-color:white;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

a img {
  border: none;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

.right {
  float: right;
}

#header {
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: rgb(80, 85, 94);
  padding-top: 15px;
  line-height: 75px;
  font-size: 2em;
  z-index: 1000;
}

.mobile-nav {
  display: none;
}

.name {z-index: 88888;}

#illustration {
  background-color: rgb(80, 85, 94);
/*  background-color: #495266; gray blue*/
/*  background-color: #464C57; light gray blue*/
  width: 100%;
  padding-bottom: 50px;
  text-align: right;
}

#illustration img {
  padding-top: 75px;
  width: 50%;
  min-width:700px;
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}


#about a:hover {
  text-decoration: underline;
}

#nav {
  background-color: #fafafa;
  height:60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#about {
  height: 1020px;
  margin-top:-30px;
  overflow: hidden;
  text-align: center;
  
}

.center-code{
  position: absolute;
  right: 15%;
  left: 15%;
}

#code {
  overflow: hidden;
  border-radius: 5px; /*round edges*/
  width: 750px;
  margin: auto;
  
  /*trying to resolve issues with particles-js 

  position: absolute;  
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  */

  background: rgb(212, 212, 212);
  height: 600px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

.button {
  padding: 7px;
  text-decoration: none;
  display: inline-block;
  border: none;
  margin: 5px 1px;
}

.button1 {border-radius: 50%;
          background-color: rgb(233, 69, 69);}
.button2 {border-radius: 50%;
          background-color: rgb(248, 182, 0);}
.button3 {border-radius: 50%;
          background-color: rgb(0, 199, 0);}

#console {
  overflow: hidden;
  width:670px;
  padding: 40px;
  height: 500px;
  margin:0 auto;
  background: rgb(32, 31, 44);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 50px 0 rgba(0, 0, 0, 0.19);
}

span.answer {
  color:#ccc;
}

.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.4em;
  font-weight: 700;
  padding-bottom: 25 px;
  font-size: 18px;
  text-transform: uppercase;
}

.section-tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(223, 218, 218);
  font-size: 16px;
  text-transform: uppercase;
}


#work{
  background: rgb(235, 235, 235);
  height: 100%;
  margin-top: -30px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 26px;
  line-height: 40px;
}

.row {
  clear: both;
}

.portfolio-thumb {
  width: 45%;
  margin: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.0060);
  border-radius: 5px;
  display: inline-block;
  /*//height: 500px;*/
}

.portfolio-thumb img {
  width: 100%;

}

.portfolio-thumb p {
  font-size: 14px;
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  line-height: 24px;
}

.portfolio-thumb a {
  text-decoration: underline;
  color: black;
}

.portfolio-big {
  width: 95%;
 /* height: 680px;*/
}


.skill {
  border: 1.2px solid #1d78b1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 10px;
  line-height: 1.33333em;
  padding: 7px 18px;
  padding-bottom: 1em; 
  margin-top: .8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}


.design {
  border-color: #1d78b1;
}

#resume {
  background-color: rgb(250, 250, 250);
  height: auto;
  margin-top: -30px;
  padding-top: 40px;
 
/*  //font-family: 'Karla';*/
  font-size: 18px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

#resume .inner {
  width:800px;
}

li {
    list-style: none;
    list-style-position: inside;
}​


img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
 
}

#footer{
  background: rgb(80, 85, 94);
  min-height: 30px;
  text-align: left;
  color: rgb(250, 250, 250);
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  padding-right: 10px;
  line-height: 20px;
}

.icon{
  font-size: 2.2em; 
}

/*TOC*/
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top:0px;
  right: 0px;
  padding: 70px 50px 0 10px;
}

.toc-holder {
  text-align: right;
/*  //min-width: 60px;*/
  z-index: 30000;
  
}

.toc-holder a {
  text-decoration: none;
/*  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;*/
}

.toc-holder li li a {
  padding-left: 60px;
}

.toc-holder li li li a {
  padding-left: 90px;
}


.toc-holder li li a:hover {
  padding-left: 65px;
}

.toc-holder li li li a:hover {
  padding-left: 95px;
}

.toc-holder {
  position: fixed;
  right: 0;
}

a.toc-link {
  color: rgba(80, 85, 94);
  position: relative;
  display: block;
  z-index: 1000;
  min-width:200px;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-top: 24px;
  width: 100%;
 
}


.toc-link span {
  font-size: 30px;
  margin-right: 70px;
  display: inline-block;
  -webkit-transition: -webkit-transform .4s ease;
  -moz-transition: -moz-transform .4s ease;
  -o-transition: -o-transform .4s ease;
  -ms-transition: -ms-transform .4s ease;
  transition: transform .4s ease;
}

.toc-link span.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toc {
  position: absolute;
  z-index: 10;
  text-align: center;
  opacity: .5;
  right: 0px;
  background: rgb(0, 0, 0);
  width: auto;

}

.toc-h1,.toc-h1 ul {
  list-style: none;
  margin: 50px;
  padding: 0;
  width: auto;
}

ul.toc {
  -webkit-padding-start: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.toc-h1 a {
  color: rgb(255, 255, 255);
  padding: 5px 20px 5px 30px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.closed {
  display: block;
}

.top-link {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 8px 16px 0 16px;
  height: 30px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
 /* -------------- responsive ---------------- */
@media screen and (max-width:980px) {

 .portfolio-thumb {
    width: 80%;
  }

  #code, #console {
    width: 95%;
    overflow: hidden;
   
  }

  .center-code{
   position: absolute;
   left: 10%;
   right: 10%; 
  }

  #resume .inner {
    width: 85%;
  }
}

@media screen and (max-width:860px) {

 .toc-holder {
    display: none;
  }
  
  .portfolio-thumb {
    width: 80%;
  }

  #code, #console {
    width: 95%;
    overflow: hidden;
   
  }

  .center-code{
   position: absolute;
   left: 10%;
   right: 10%; 
  }

  #header{
    background-color: rgba(80, 85, 94);
    font-size: .9em; 
  }
  
  #header .name{
    font-size: 2em;
  }
  
   #illustration img{
    padding-top: 60px;
    width: 70%;
    min-width:400px;
  }
}

@media screen and (max-width:700px) {

  #code, #console {
    width: 90%;
    overflow: hidden;
   
  }

  #illustration {
    overflow: hidden;
  }

  #illustration img{
    padding-top: 60px;
    width: 60%;
    min-width:400px;
    
  }

  #resume .inner {
    width: 85%;
  }

  #resume .right {
    display: none;
  }
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
/* STYLES GO HERE */

  #illustration {
    padding-bottom: 60px;
  }

  #code {
    overflow: hidden;
    height: auto;
  }
  
  .tagline {
    padding-bottom : 20px; 
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .tagline {
    padding-bottom : 10px; 
  } 

  #about .inner {
    padding: 0px 10px 0px 10px;
  }

  #illustration img {
    padding-top: 75px;
    width: 50%;
    min-width: 350px;
   
  }

  #code, #console {

    height: auto;
  }

  #console {
    overflow: hidden;
    height: auto;
  }

  #code {
    margin-bottom: 20px;
  }

}

/*------------------- timeline------------------ 


Primary style

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *::after, *::before {

}


body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  color: #383838;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  padding-top: 2em; 
  opacity: 0;
  margin: 1em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;

}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  background:  rgba(248, 248, 248, 0); /*fix iphone issue?*/
  top: 0;
  height: 100%;
  width: 20px;
}
 .cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left ,rgb(250, 250, 250), rgba(250, 250, 250, 0.007));
  background-image: linear-gradient(to right,rgb(250, 250, 250), rgba(250, 250, 250, 0.007));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right rgb(250, 250, 250), rgba(250, 250, 250, 0.007));
  background-image: linear-gradient(to left,rgb(250, 250, 250), rgba(250, 250, 250, 0.007));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #777777;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the color line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1d78b1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2; 
  font-size: 1.3rem;
  padding-bottom: 2rem;
  color: #c9c9c9; /*dates*/
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #777777;
  background-color: rgb(250, 250, 250);
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #1d78b1;
  border-color: #1d78b1;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #1d78b1;
  border-color: #1d78b1;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #1d78b1;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 3.5em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #afafaf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #1d78b1;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #c5c5c5;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  padding-bottom: 1.4em; 
  overflow: visible; 
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}

.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #4e4e4e;
  padding-bottom: 1rem ;
 
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 3rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1.75rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.75rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/*  {

  for testing, do not uncomment.
  
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

/* -------particles -------*/

#particles-js canvas {
    display: block;
}

#particles-js{
  display: block;
  width: 100%;
  height: 1020px;

  margin-top:-25px;
  background: linear-gradient(45deg, rgb(226, 30, 30), rgb(231, 48, 79), rgb(126, 60, 231), #23A6D5, rgb(35, 213, 198), rgb(93, 221, 150));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

#particles-js a {

  color: #1d78b1;
  text-decoration: none;
}
#particles-js p {
  text-align: center;
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
