@import "~bootstrap/scss/bootstrap"; // react-bootstrap stylesheets
@import "~rfs/scss"; // Automates responsive resizing, https://github.com/twbs/rfs

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap");
$font-family: 'Inter', sans-serif;
$breakpoints: (
  'phone'  : ( max-width:  640px ),
  'tablet' : ( max-width:  768px ),
  'laptop'  : ( max-width: 1024px )
);
@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
html,
body {
  overflow-x: hidden;
  width: 100% !important;
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}
body.light {
  --primary-color: #057ae0;
  --primary-text-color: #1d1d1f;
  --secondary-color: #86868b;
  --secondary-text-color: #2c2c2e;
  --tertiary-color: #f2f2f2;
  --background: #fff;
  --background-secondary: #f5f5f7;
  --site-header: var(--background);
  --card-bg: #fff;
  --bottom-nav-bg: #fff;
  --border: rgba(25, 26, 30, 0.15);
  --code-bg: #313437;
}
body.dark {
  --primary-color: #90b3f4;
  --primary-text-color: #f5f5f7;
  --secondary-color: #707070;
  --secondary-text-color: #c9c9c9;
  --tertiary-color: #181818;
  --background: #000;
  --background-secondary: #0a0a0a;
  --site-header: var(--background);
  --card-bg: #202020;
  --bottom-nav-bg: #0f0f0f;
  --code-bg: #151516;
}
$theme-transition:   
  color .5s ease-in-out, 
  background-color .5s ease-in-out, 
  border-color .5s ease-in-out, 
  box-shadow .5s ease-in-out
;
body {
  font-family: $font-family;
  background: var(--background-secondary);
  color: var(--primary-text-color);
}
h1 { font-weight: 800; }
h1, h2, h3, h4, h5, p, a  {
  transition: $theme-transition;
}
.container { 
  margin: 8rem auto;
  @include respond-to(tablet){ margin: 4rem auto 5rem auto; }
  @include respond-to(phone){ margin: 2rem auto 4rem auto; }
}
.hero-header {

  p {
    margin-bottom: 1.5rem;
    color: var(--secondary-text-color);
    display: inline-block;
    max-width: 27rem;
    line-height: 1.5;
    @include font-size(1.5rem);
    @include respond-to(tablet) { max-width: 26rem; }
    @include respond-to(phone) { 
      max-width: 22rem;
      @include font-size(1.125rem);
    }
  }
}
.post {
  padding: 0;
  color: var(--secondary-text-color);
  line-height: 1.65;
  margin: 0 auto;
  img { width: 100%; }
  .container { 
    max-width: 900px; 
    margin-bottom: 0rem;
  }
  .back-button {
    @include font-size(2rem);
    color: var(--primary-color);
    transition: $theme-transition;
  }
  .container-fluid { padding: 0; }
}
.blog-post-content {
  a { color: var(--primary-color); }
  hr { border-top: 2px solid var(--tertiary-color); }
  li { margin-bottom: .5rem; }
  h2 { 
    font-weight: 700;
    color: var(--primary-text-color);
    margin: 5rem auto 1rem auto;
    @include font-size(2.125rem);
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-weight: 700;
    color: var(--primary-text-color);
    margin-top: 3rem;
    @include font-size(1.25rem);      
  }
  p, ul, ol { 
    margin-bottom: 1.75rem;
    @include font-size(1.25rem);
    @include respond-to(phone) { font-size: 1.125rem }
  }
  ol, ul { padding-left: 1rem; }
  blockquote {
    margin: 2.5rem 1.25rem;
    padding: 0 1em;
    border-left: .25em solid var(--tertiary-color);
    p { font-weight: 200; }
  }
  figcaption {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 200;
    margin: -3.5rem auto 3rem;
    @include respond-to(phone) { font-size: 1rem; }
  }
  img { 
    margin: 2.5rem auto;
    background: var(--tertiary-color);
    border-radius: 10px;
    @include respond-to(phone) { margin: 2rem auto; }

  }
}
.chips { margin-bottom: 0.35em; }
.MuiChip-root.MuiChip-outlined {
  height: 30px;
  font-weight: 200;
  font-size: 1rem;
  margin: 0 .5rem .5rem 0;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--primary-text-color);
  @include respond-to(phone) { font-size: 14px; }
}
// .site-footer {
//   padding: 4rem 0 2rem;
//   font-size: 1.125rem;
//   font-weight: 400;
//   color: #a1a1a1;
//   text-align: center;
//   margin: 12rem 0 0;
//   background: #000;
//   & a { color: var(--primary-color); }
// }
// theme-changer
.theme-changer { display: none; }
.moon, .sun {  color: var(--secondary-color); }
body.dark {
  .moon {
    display: none;
  }
}
body.light {
  .sun {
    display: none;
  }
}
.btn.btn-primary {
  border: 2px solid var(--primary-color);
  color: var(--card-bg);
  background: var(--primary-color);
  &:hover, &:active, &:focus {
    color: var(--primary-color);
    background: var(--background);
    border-color: var(--primary-color);
  }
}
.btn.btn-outline-primary {
  @extend .btn.btn-primary;
  background-color: transparent;
  color: var(--primary-color);
}
.btn.btn-light {
  border: 2px solid var(--tertiary-color);
  color: var(--secondary-text-color);
  background: var(--tertiary-color);
}
.about {
  color: var(--secondary-text-color);
  .banner {
    text-align: center;
    min-height: 275px;
    @include respond-to(tablet){ min-height: 250px;}
    @include respond-to(phone){ min-height: 175px;}
    background-color: var(--card-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    &:before {
      content: "";
      background: rgba(0,0,0,0.10);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    > * {
      position: relative;
      z-index: 2;
    }
  }
  .header{
    z-index: 3;
    position: relative;
    top: -10rem;
    left: 4rem;
    .text{ 
      margin-top: 8rem;
      line-height: 1;
      @include respond-to(phone) { margin-top: 1rem; }
      & h2 {
        margin-bottom: 0;
        font-weight: 700;
        @include font-size(2.25rem)}
      & p {
        color: var(--secondary-text-color);
        @include font-size(1.25rem)
        }
    }
    @include respond-to(phone){ 
      text-align: center;
      justify-content: center; 
      left: unset;
    }
    & img {
      border: 5px solid var(--background);
      width: 175px;
      @include respond-to(tablet){ width: 150px; }
      @include respond-to(phone){ width: 125px; }
   }
  }
}
// overriding prism.js syntax highlighting 
.gatsby-highlight {
  font-size: 16px;
  margin: -.5rem 0 2rem 0 !important; 
  pre[class*="language-"] {
    background: var(--code-bg) !important; 
  }
  .token.operator { color: #F92672; }
}
code[class*="language-"], pre[class*="language-"]{
  background: var(--code-bg) !important;
  font-size: 1rem !important;
  @include respond-to(phone) { font-size: 14px !important; }
}
.language-text { padding: .25rem !important; }
// tables
table {
  overflow-x: scroll;
  display: block;
  margin: 2.5rem auto;
  @include respond-to(phone){ margin: 2rem auto; }
}
th, td {
  padding: 4px 8px;
  text-align: left;
  font-size: 1rem !important;
  @include respond-to(phone) { font-size: 14px !important; }
}
th {
  font-weight: 600;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: var(--tertiary-color);
  color: var(--primary-text-color);
}
tr { 
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--tertiary-color);
}
tr:hover {background-color: var(--tertiary-color);} 

.MuiTimelineContent-root {
  p {
    color: var(--primary-text-color);
    margin: 0;
  }
}
.MuiTypography-body2 {
  font-weight: 200 !important;
  font-size: 1rem !important;
  color: var(--secondary-text-color) !important;
}