@import "~bootstrap/scss/bootstrap"; // react-bootstrap stylesheets
@import "~rfs/scss"; // Automates responsive resizing, https://github.com/twbs/rfs

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@300;400;700&display=swap");
$font-family: 'Roboto', sans-serif;
$breakpoints: (
  'phone'  : ( max-width:  640px ),
  'tablet' : ( max-width:  768px ),
  'laptop'  : ( max-width: 1024px )
);
@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
html,
body {
  overflow-x:hidden;
  width:100% !important;
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}
body.light {
  --primary-color: #614DFF;
  --primary-text-color: #000;
  --text-secondary-color: #73737d;
  --featured-text: #fff;
  --secondary-color: #979797;
  --background: #fafafa;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--card-bg);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #181a1f;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --link-color: #06c;
  --bottom-nav-bg: #fff;
  --card-bdr: rgba(25, 26, 30, 0.15);
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #f5f5f7;
  --featured-text: #f5f5f7;
  --secondary-color: #5e5e5e;
  --background: #111216;
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: #a1a1a6;
  --site-header: var(--background);
  --card-bg: #1D2128;
  --card-shadow: #020204;
  --btn-bg: var(--card-bg);
  --btn-bdr: #1D2128;
  --btn-text-color: #b5b6bb;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --link-color: #2997ff;
  --bottom-nav-bg: #232527;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  background-color: var(--background);
  color: var(--text-color);
}
.navbar {
  background: var(--background);
  border-bottom: 1px solid var(--text-secondary-color);
  .justify-content-end a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-text-color);
      font-weight: bold;
    }
    &:hover {
      color: var(--link-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .navbar-brand a{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-text-color);
  }
}
.top-nav {
  @include respond-to(tablet){ visibility: hidden; }
}
.bottom-nav {
  visibility: hidden;
  border-radius: 25px;
  margin: 1rem 15vw;
  border: 1px solid var(--card-bdr);
  background-color: var(--bottom-nav-bg);
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  .icon { font-size: 1.5rem; }
  .nav-link { color: var(--secondary-color); }
  .nav-link.active { color: var(--primary-text-color); }
  @include respond-to(tablet){ visibility: visible;}
}
.bottom-drawer {
  .drawer div:nth-child(2) {
    color: var(--text-secondary-color);
    background: var(--bottom-nav-bg);
  }
  .icon.message {
    color: var(--secondary-color);
    margin-top: .5rem;
  }
}
.container { 
  margin: 5rem auto 6rem auto;
}
.hero-header {
  text-align: center;
  padding: 80px 0 120px 0;
  @include respond-to(phone){ padding: 40px 0 80px 0; }
  & img{
    border: 2px solid;
    width: 55px;
  }
  p {
    @include font-size(1rem);
    line-height: 1.25;
    color: var(--text-secondary-color);
  }
  a { color: unset;}
  .headline {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: -.02rem;
    line-height: 64px;
    margin-bottom: 25px;
    @include respond-to(tablet){ font-size: 40px; }
    @include respond-to(phone){
      padding: 0 30px;
      font-size: 36px;
    }  
    & ul{
      list-style-type: none;
      padding: 0;
    }
    & li:hover {
      -webkit-text-stroke: 1px var(--primary-text-color);
      -webkit-text-fill-color: var(--background);
      transition: -webkit-text-fill-color 0.2s linear,-webkit-text-fill-color 0.2s linear;
    }
  }
}
h1 {
  font-family: 'DM Serif Display', serif;
  line-height: 1;
  @include font-size(4rem);
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  img { width: 100%; }
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    h2, h3 { 
      margin: 25px auto 18px auto;
      @include respond-to(phone){
      margin: 30px auto 18px auto;
      }
    }
    p { 
      font-size: 18px;
      margin: 0px auto 21px;
      color: var(--text-secondary-color);
      @include respond-to(phone){
        margin: 0px auto 21px;
      }
    }
    .gatsby-highlight { margin: -10px 0 20px 0 !important; }
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    @include font-size(4rem);
  }
  .post-meta {
    @include font-size(1.5rem);
    color: var(--text-secondary-color);
    text-align: center;
  }
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  background-color: var(--card-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 3rem;
  &:before {
    content: "";
    background: rgba(0,0,0,0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
}
.card {
  display: grid;
  background-color: var(--card-bg);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.25;
  > a img { display: block; }
  > header { padding: 24px; }
  > h2:first-child { margin: 0 0 0.5rem 0; }
  img.card-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .post-title {
    font-size: 18px;
    margin-bottom: 0.3rem;
  }
  .card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: inherit;
    border-bottom: none;
    font-weight: lighter;
  }
  .card-text{ color: var(--text-secondary-color); }
  .card-link{ color: var(--link-color); }
  &.featured {
    .card-body { padding: 4.5rem 0 4.5rem 5rem }
    .card-header {
      padding-left: 0;
      padding-top: 0;
      @include font-size(1.5rem);
    }
    .card-title {
      font-weight: 700;
      @include font-size(2.5rem);
    }
    .card-text, .card-link { 
      @include font-size(1.5rem);
    }
  }
  &.projects {
    .card-title { font-weight: 400;}
  }
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: #666;
  a {
    font-weight: bold;
  }
}
.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
// theme-changer
.theme-changer { display: none; }
.moon, .sun { 
  visibility: visible;
  position: fixed;
  margin-top: .5rem;
  font-size: 1.5rem; 
  color: var(--primary-text-color);
  bottom: 2rem;
  left: 89vw;
  margin-left: 9px;
  @include respond-to(tablet){
    color: var(--secondary-color);
    position: inherit;
    margin-left: 0;
  }
}
body.dark {
  .moon {
    display: none;
  }
}
body.light {
  .sun {
    display: none;
  }
}
.mode-container {
  position: fixed;
  visibility: visible;
  bottom: 1.5rem;
  left: 89vw;
  border-radius: 100%;
  border: 1px solid var(--card-bdr);
  background: var(--bottom-nav-bg);
  box-shadow: var(--card-shadow) 0px 0px 15px;
  padding: 1.5rem;
  @include respond-to(tablet){
    border: none;
    position: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
  }
}